/**************************/
/*                        */
/*      bar-button        */
/*                        */
/**************************/

/**************************/
/*     bar-button         */
/**************************/
$bar-button---size: $theme__bar-button---size;
$bar-button---font-size: $theme__bar-button---font-size;

/**************************/
/*   bar-button--border   */
/**************************/
$bar-button---border-style: $theme__bar-button---border-style;
$bar-button---border-width: $theme__bar-button---border-width;
$bar-button---border-radius: $theme__bar-button---border-radius;