/**************************/
/*                        */
/*        buton           */
/*                        */
/**************************/
$button-size: $theme-button-size;
$button-font-size: $button-size;
$button-border-radius: $theme-button-border-radius;
$button-padding: $theme-button-padding;
$button-margin: $theme-button-margin;

/**************************/
/*  buton--primary-color  */
/**************************/
$button-primary-color-background: $theme-button-primary-color-background;
$button-primary-color-background-hover: darken($theme-button-primary-color-background, 5%);
$button-primary-color-text: $theme-button-primary-color-text;
$button-primary-color-text-hover: $theme-button-primary-color-text;
$button-primary-color-border: $button-primary-color-background;

/**************************/
/*   buton--primary-map   */
/**************************/
$button-map-primary-color: (border-color: $button-primary-color-border, background: $button-primary-color-background, color: $button-primary-color-text, background-hover: $button-primary-color-background-hover, color-hover: $button-primary-color-text-hover);

/**************************/
/*  buton--terciary-color */
/**************************/
$button-terciary-color-background: $theme-button-terciary-color-background;
$button-terciary-color-background-hover: darken($theme-button-terciary-color-background, 5%);
$button-terciary-color-text: $theme-button-terciary-color-text;
$button-terciary-color-text-hover: darken($theme-button-terciary-color-text, 15%);
$button-terciary-color-border: $button-terciary-color-background;

/**************************/
/*  buton--terciary-map   */
/**************************/
$button-map-terciary-color: (border-color: $button-terciary-color-border, background: $button-terciary-color-background, color: $button-terciary-color-text, background-hover: $button-terciary-color-background-hover, color-hover: $button-terciary-color-text-hover);